<app-layout [withBackButton]="true" (backButtonAction)="returnToMatchEnd()">
  <ng-container role="header">
    <span class="title">Fin de partie</span>
  </ng-container>

  <ng-container role="footer">
    <div class="keyboard">
      <div class="row">        
        <div class="key" matRipple (mousedown)="handleKey($event, '1')"><button mat-raised-button class="visual">1</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, '2')"><button mat-raised-button class="visual">2</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, '3')"><button mat-raised-button class="visual">3</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, '-')"><button mat-raised-button class="visual grey">-</button></div>
      </div>
      <div class="row">
        <div class="key" matRipple (mousedown)="handleKey($event, '4')"><button mat-raised-button class="visual">4</button></div>        
        <div class="key" matRipple (mousedown)="handleKey($event, '5')"><button mat-raised-button class="visual">5</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, '6')"><button mat-raised-button class="visual">6</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, '+')"><button mat-raised-button class="visual accent">+</button></div>
      </div>
      <div class="row">
        <div class="key" matRipple (mousedown)="handleKey($event, '7')"><button mat-raised-button class="visual">7</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, '8')"><button mat-raised-button class="visual">8</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, '9')"><button mat-raised-button class="visual">9</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, 'Backspace')"><button mat-raised-button class="visual grey"><mat-icon>backspace</mat-icon></button></div>                
      </div>
      <div class="row">
        <div class="key" matRipple (mousedown)="handleKey($event, '()')"><button mat-raised-button class="visual grey">(</button></div>
        <!--<div class="key triple" matRipple (mousedown)="handleKey($event, ' ')"><button mat-raised-button class="visual">&nbsp;</button></div>-->
        <div class="key" matRipple (mousedown)="handleKey($event, '0')"><button mat-raised-button class="visual">0</button></div>
        <div class="key" matRipple (mousedown)="handleKey($event, ')')"><button mat-raised-button class="visual grey">)</button></div>
        <!--<div class="key" matRipple (mousedown)="handleKey($event, '*')"><button mat-raised-button class="visual grey">*</button></div>-->
        <div class="key double" matRipple (mousedown)="handleKey($event, 'Enter')"><button mat-flat-button class="visual primary"><mat-icon>subdirectory_arrow_left</mat-icon></button></div>
      </div>
    </div>
  </ng-container>

  <ng-container role="body">
    <div class="container" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
      <div class="score">Score pour <b>{{ team.name }}</b></div>

      <form [formGroup]="teamScoreFormGroup" (ngSubmit)="onSubmit()">

        <div *ngFor="let scoreCategory of scoreTemplate; let i = index;" class="complex-group">
          <div [ngClass]="scoreCategory.complex ? 'complex-field-compute complex-field' : 'complex-field'"
            [ngStyle]="{'background-color': scoreCategory.color.code, 'color': scoreCategory.color.invert}">
            <span class="category-name">
              {{ scoreCategory.category }}
              <br /><span *ngIf="scoreCategory.complex" class="sub-total"><mat-icon>arrow_right</mat-icon><!--{{ calc(scoreCategory.category) }}--></span>
            </span>
            <!--(blur)="blur($event.target)"-->
            <!--(ngModelChange)="valuechange($event)"-->
            <input    #inputScore [ngModel] cdkFocusInitial  inputmode='none' [formControlName]="scoreCategory.category" *ngIf="!scoreCategory.complex"  [ngClass]="scoreCategory.negatif ? 'negative-score' : ''"/>
            <!--(blur)="blur($event.target)"-->
            <!--(keydown.enter)="onKeydown($event)"-->
            <!--(ngModelChange)="valuechange($event)"-->
            <textarea #inputScore [ngModel] cdkFocusInitial  inputmode='none' [formControlName]="scoreCategory.category" *ngIf="scoreCategory.complex" rows="3" ></textarea>
          </div>
        </div>

        <hr *ngIf="complexScoreTemplate" />

        <mat-form-field appearance="fill">
          <mat-label>{{ complexScoreTemplate ? 'Total' : 'Score (uniquement des chiffres)'}}</mat-label>
          <!--(blur)="blur($event.target)"-->
          <input #inputScore matInput formControlName="score" inputmode='none'>
        </mat-form-field>

        <button #inputScore tabindex="60" mat-raised-button [disabled]="!teamScoreFormGroup.valid">
          Enregistrer le score
        </button>
      </form>

    </div>
  </ng-container>

</app-layout>