<app-layout [withBackButton]="true" (backButtonAction)="returnToMatchEnd()">
    <ng-container role="header">
        <span class="title">Fin de partie</span>
    </ng-container>

    <ng-container role="body">
        <div class="score">{{ team.name }}</div>

        <form [formGroup]="teamScore" (ngSubmit)="onSubmit()" class="buttons">
            <mat-form-field appearance="fill">
              <mat-label>Score (uniquement des chiffres)</mat-label>
              <input matInput formControlName="score" type="number" autofocus>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!teamScore.valid">
              Enregistrer le score
            </button>
          </form>
    </ng-container>

</app-layout>