<app-layout [withBackButton]="true">
  <ng-container role="header">
    S'enregistrer
  </ng-container>

  <ng-container role="body">
    <div class="title" [hidden]="loading">Créer un compte</div>

    <loading-spinner [loading]="loading" [caption]="'Création du compte'"></loading-spinner>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <fieldset [disabled]="loading">
        <div class="row">
          <div class="column">

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" autocomplete="username" autofocus>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-form-field appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="new-password">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  type="button" [attr.aria-pressed]="hidePassword" tabindex="-1">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-form-field appearance="fill">
              <mat-label>Répeter le mot de passe</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="new-password">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  type="button" [attr.aria-pressed]="hidePassword" tabindex="-1">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <button mat-raised-button [disabled]="!registerForm.valid || loading">
              C'est parti !
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </ng-container>
</app-layout>