:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

svg {
  height: 30px;
  width: 30px;
}

.selection {
  margin-left:10px;
}

.individual-random {
  margin-left:5px;
}

.game-tag {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  font-size: medium;
}

hr {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.icon-all-random {
  fill: white;
}

.text-all-random {
  fill: white;
  padding-right: 10px;
}

.all-random div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.validate-div {
  width: 100%;
}

.validate-button {
  width: 100%;  
}