:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

svg {
  height: 30px;
  width: 30px;
}

.selection {
  margin-left:10px;
}

.individual-random {
  margin-left:5px;
}

.game-tag {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  font-size: medium;
  background-color: lightgrey;
  padding:5px;
  margin: 0px;
}

h3 {
  background-color: rgb(234, 234, 234);
  padding: 5px;
  margin: 0;
  text-align: center;
}

hr {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.icon-all-random {
  fill: white;
}

.text-all-random {
  fill: white;
  padding-right: 10px;
}

.all-random div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.validate-div {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.validate-button {
  width: 80%;
}

.list-tag-container {
  padding: 10px;
}