<mat-dialog-content class="dialog row">
  <form [formGroup]="tagEditorForm">
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <input matInput formControlName="category" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <mat-checkbox formControlName="unique">Unique</mat-checkbox>
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Min</mat-label>
          <input matInput formControlName="minOcurrences" type="number" size="2"/>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Max</mat-label>
          <input matInput formControlName="maxOcurrences" type="number" size="2"/>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <mat-form-field class="value-chip-list" appearance="fill">
          <mat-label>Valeur</mat-label>
          <mat-chip-grid #chipGrid aria-label="Valeur">
            <mat-chip-row *ngFor="let value of values"
                  (removed)="remove(value)"
                  [editable]="true"
                  (edited)="edit(value, $event)"
                  >
              {{value}}
              <button matChipRemove [attr.aria-label]="'remove ' + value">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input placeholder="Ajout Valeur..."
                  [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="add($event)"/>
          </mat-chip-grid>
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="cancelTagDialog()" mat-button [mat-dialog-close]="false" color="warn">abandonner</button>
  <button (click)="closeTagDialog()" mat-button [mat-dialog-close]="false" [disabled]="!tagEditorForm.valid">Ok</button>
</mat-dialog-actions>
