<h2 mat-dialog-title>{{player.name}}</h2>

<mat-dialog-content class="dialog row">
    <fieldset>
        <mat-form-field appearance="fill" class="champs" *ngIf="colors.length > 0">
            <mat-label [style.background]="player.color.code" [style.color]="player.color.invert">Couleur du joueur</mat-label>
            <mat-select [value]="player.color.name" (selectionChange)="colorChange($event.value)">
                <mat-option *ngFor="let color of colors" [value]="color.name">
                    <div [style.background]="color.code" [style.color]="color.invert" class="couleur">{{color.name}}
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngFor="let playerTag of (matchState | async)?.playerTags" class="player-tag">
            <div *ngFor="let occurence of [].constructor(playerTag.maxOcurrences); let i = index;">
                <mat-form-field appearance="fill" class="champs">
                    <mat-label>{{ playerTag.category }}</mat-label>
                    <mat-select (selectionChange)="selectPlayerTag(player, $event.value, playerTag.category, i)"
                        [value]="alreadySelectedPlayerTag(playerTag.category, player, i)">
                        <mat-option *ngFor="let playerTagName of playerTagAvailable(playerTag, player, i)"
                            [value]="playerTagName">
                            {{playerTagName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                
            </div>
        </div>      
    </fieldset>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="save()">Fermer</button>
</mat-dialog-actions>