:host {
  display: flex;
  flex-flow: column;
  height: 100px;
  flex: 1 1 auto;
}

.material-cust-large-button {
  font-size: x-large;
}

.match {
  flex: 1 1 auto;
}

.cont {
  height: 100%;
}

.start {
  height: 100%;
  width: 100%;
}

.match button {
  height: 100%;
  width: 100%;
  border-radius: 0%;
  background-color: #60a917;
  border:solid #41207a;
  border-width: 6px 6px 0px 6px;
  
  color:white;
}

.material-symbols-outlined {
  font-size: 80px;
}

.other_actions {
  flex: 0 1 300px; 
}

.actions {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  min-height: 150px;
  width: 50%;
}

.row button {
  height: 100%;
  width: 100%;
  border-radius: 0%;
  border:solid #41207a;
  color:white;
  font-size: 12px;
}

.row button .material-symbols-outlined {
  font-size: 40px;
}

.haut-gauche button {
  border-width: 6px 3px 3px 6px;
  background-color: #0366d6;
}

.haut-droite button {
  border-width: 6px 6px 3px 3px;
  background-color: #ce352c;
}

.bas-gauche button {
  border-width: 3px 3px 6px 6px;
  background-color: #607d8b;
}

.bas-droite button {
  border-width: 3px 6px 6px 3px;
  background-color: #ff9447;
}