<div class="home_page">

    <div [hidden]="!dataReceived">
        <div [hidden]="matchInProgress">
            <button mat-raised-button color="primary" class="material-cust-large-button">Démarrer une partie</button>
        </div>
        <div [hidden]="!matchInProgress">
            <button mat-raised-button color="primary" class="material-cust-large-button">Mettre fin à la partie</button>
        </div>
    </div>

    <div [hidden]="dataReceived">
        Recherche si une partie est en cours...
    </div>

</div>