<div class="match-editor">

    <div *ngIf="haveToSearchGame()">
        <game-list (gameSelectedEvent)="gameSelected($event)"></game-list>
    </div>

    <div *ngIf="!haveToSearchGame()" class="form"
        [ngStyle]="{'background': 'linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url(' + imageUrl() + ') no-repeat top / cover'}">
        <div class="title">{{ matchService.getGame()?.title }}</div>

        <fieldset>
            <div *ngFor="let player of getPlayers()" class="editor">
                <div class="row">
                    <div class="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Joueur</mat-label>
                            <mat-select>
                                <mat-option style="background-color: green"><mat-icon>search</mat-icon>Chercher un
                                    joueur...</mat-option>
                                <mat-option style="background-color: lightcoral"><mat-icon>groups</mat-icon>Créer un
                                    groupe...</mat-option>
                                <mat-option *ngFor="let choosingPlayer of choosingPlayers" [value]="choosingPlayer.id"
                                    [ngStyle]="{'background': choosingPlayer.color}">
                                    {{choosingPlayer.pseudo}}
                                </mat-option>
                            </mat-select>
                            <div style="opacity: 1; padding-right:10px;" matSuffix>
                                <button mat-mini-fab color="primary"
                                    (click)="deletePlayer(player)"><mat-icon>delete</mat-icon></button>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row button_row" *ngIf="canAddPlayer()">
                <div class="column">
                    <button mat-raised-button color="primary" (click)="addPlayer()">Ajouter un
                        joueur</button>
                </div>
            </div>

            <div class="row button_row">
                <div class="column">
                    <button mat-raised-button color="warn" (click)="play()">Jouer !</button>
                </div>
            </div>

            <div class="row button_row">
                <div class="column">
                    <button mat-raised-button (click)="cancel()">Annuler</button>
                </div>
            </div>

        </fieldset>

    </div>

</div>