<div class="game-list">
    <loading-spinner [loading]="searching" [caption]="'Chargement de la ludothèque'"></loading-spinner>

    <div class="game-list-result" *ngIf="gameService.searchedGames.length > 0 && !searching">
        <div *ngFor="let item of gameService.searchedGames" matRipple  (click)="gameAction(item.id!)">
            <div class="row">
                <div class="thumbnail">
                    <img src="{{ item.thumbnail_id }}" />
                </div>

                <div class="text">
                    <div class="title">{{item.title}}</div>
                    <div class="details">
                        <div class="detail">
                            Dernière partie il y a <span class="emphasis">{{ prettyTime(item.created_at) }}</span>, avec une victoire de <span class="emphasis">Anne-Cécile</span> en <span class="emphasis">1h34m</span>
                        </div>
                        <div class="detail">
                            Nombre de parties jouées: <span class="emphasis">12</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>