
.register-page {
  height: 86vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width:330px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-header {
  padding: 5px !important;
  display: flex !important;
}

.mat-card {
  padding: 0 !important;
}

.mat-mdc-card-content {
  padding: 15px !important;
}

.spinner {
  display: flex;
  justify-content: center;
}

.mat-mdc-form-field {
  width:310px;
}