.dialog {
  min-width: 350px;
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 15px;
}

.row {
  column-count: 3;
  text-align: center;
}
