<app-layout [withBackButton]="true" (backButtonAction)="cancelMatchCreation()">
    <ng-container role="header">
        <span class="title" *ngIf="!searching">Créer une partie</span>
        <button mat-icon-button (click)="searching = !searching" *ngIf="!searching">
            <mat-icon>search</mat-icon>
        </button>

        <input placeholder="Rechercher un jeu" class="search-input" [cdkTrapFocusAutoCapture]="true"
            [cdkTrapFocus]="true" *ngIf="searching" [(ngModel)]="searchText">
        <button mat-icon-button (click)="searching = !searching; searchText=''" *ngIf="searching">
            <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>

    <ng-container role="body" >

        <div class="headline">
            <span class="choice">Choisir un jeu </span>
            <span class="menu-spacer"></span>
            <button mat-icon-button (click)="isFilterMenuOpen = true">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <loading-spinner [loading]="loading" [caption]="'Chargement de la liste des jeux'"></loading-spinner>

        <div *ngFor="let game of gameList | async" class="result-list" (click)="gameSelection(game)">
            <div class="visual">
                <img src="{{ game.thumbnailUrl }}">
            </div>
            <div class="content">
                <div class="heading">{{ game.title }}</div>
                <div class="supporting"></div>
            </div>
        </div>

        <app-sidenav [(isOpen)]="isFilterMenuOpen">
            <div class="filter-section">
                <p><mat-checkbox color="primary">Uniquement coopératif</mat-checkbox></p>
                <p><mat-checkbox color="primary">Pour 2 joueurs exclusivement</mat-checkbox></p>
                <p><mat-checkbox color="primary">Plus que 4 joueurs</mat-checkbox></p>
            </div>
            <mat-divider></mat-divider>
            <div class="filter-section">
                <p><mat-checkbox color="primary">Moins de 30 minutes</mat-checkbox></p>
                <p><mat-checkbox color="primary">Plus que 1h30</mat-checkbox></p>
            </div>
        </app-sidenav>

    </ng-container>

</app-layout>
