.logout-spinner {
  padding-right: 10px;
}

/* BANNER */

.banner {
  height: 185px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

svg {
  height: 350px;
  width: 350px;
}

.dice {
  position: absolute;
  bottom: -180px;
  right: -80px;
  opacity: 0.2;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-top: -20px;
  z-index: 1;
}

.description {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  z-index: 1;
}

.match-state button {
  margin-top: 26px;
}

.loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BANNER */

.alert-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.actions {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: center;
  gap:10px;
  overflow: hidden;
}

.action {
  display: flex;
  align-items: center;
}


.ludo-card img {
  width:158px;
  height: 120px;
  border-radius: 8px;
}

.ludo-card {
  display: flex;
  flex-direction: column;
  justify-content: top;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 5px;
}

.ludo-card-title {
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  padding-bottom: 0px;
}

.ludo-card-content {
  font-size: 14px;
  padding: 10px;
  opacity: 0.8;
}

/* ICON */

.image-icon {
  width:158px;
  height: 120px;
  border-radius: 8px;
  background-color: #2d2f3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-icon .mat-icon {
  color:white;
  font-size: 52px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.circle {
  border-radius: 100%;
  padding:15px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 30px 8px #484a58;
}