<h2 mat-dialog-title>{{team.name}}</h2>

<mat-dialog-content class="dialog row">
    <fieldset>
        <mat-form-field appearance="fill" class="champs" *ngIf="availableColors.length > 0">
            <mat-label [style.background]="newColor.code" [style.color]="newColor.invert">Couleur du
                joueur</mat-label>
            <mat-select [(value)]="newColor">
                <mat-option *ngFor="let color of availableColors" [value]="color">
                    <div [style.background]="color.code" [style.color]="color.invert" class="couleur">{{color.name}}
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <team-tags-selection [teamIndex]="(match | async)!.teams.indexOf(team)" [saving]="saving"/>
    </fieldset>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close >Annuler</button>
    <button mat-button mat-dialog-close (click)="save()">Enregistrer</button>
</mat-dialog-actions>