<app-layout [withBackButton]="true" (backButtonAction)="returnToHome()">
    <ng-container role="header">
        <span class="title">Gérer les joueurs</span>
    </ng-container>

    <ng-container role="body">
        <loading-spinner [loading]="loading" caption="Chargement de la liste des joueurs"></loading-spinner>

        <div class="manage-player" *ngIf="!loading">
            <div class="actions">
                <button mat-raised-button color="primary" (click)="createPlayer()">Ajouter un joueur</button>
            </div>

            <div *ngFor="let player of playerEntities" class="result-list" (click)="editPlayer(player.id)">
                <div class="visual">
                    <img src="https://www.gravatar.com/avatar/{{player.gravatar}}?d=identicon&r=pg">
                </div>
                <div class="content">
                    <div class="heading">{{ player.pseudo }}</div>
                    <div class="supporting">
                        {{ player.firstName }} {{ player.lastName }}
                        <br/>
                        Nous à rejoint le: {{ player.createdAt | date: 'dd/MM/yyyy' }}
                        <br/>
                        <span class="compte" [hidden]="player?.user?.email == undefined">
                            Associé au compte: <span class="email">{{ player?.user?.email}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-layout>