

.dot {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.tag-add {
  display: inline;
  float: right;
  vertical-align: top;
  margin-top: -40px;
}
