:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.message {
  margin-top:40px;
  width: 100%;
  text-align: center;
}

.detail {
  margin-top:20px;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}