:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.find-game, .find-game-form, .find-game-search-field {
  width: 100%;
}

.mat-mdc-progress-spinner {
  float: right; 
  padding:0; 
  margin-top: -32px;
}

.emphasis {
  text-decoration: dashed;
}

.owned {
  opacity: 0.4;
}