<app-layout [withBackButton]="true" (backButtonAction)="returnToHome()">
    <ng-container role="header">
        <span class="title">Rechercher un jeu</span>
    </ng-container>

    <ng-container role="body">
        <div class="find-game" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
            <form class="find-game-form">
                <mat-form-field class="find-game-search-field">
                    <mat-label>Rechercher un jeu</mat-label>
                    <input matInput (keydown.enter)="search($event.target)" (blur)="search($event.target)"
                        [value]="findGameService.searchString" cdkFocusInitial>
                    <mat-icon matSuffix *ngIf="!searching">search</mat-icon>
                    <mat-spinner [diameter]=25 [strokeWidth]="4" *ngIf="searching"></mat-spinner>
                </mat-form-field>
            </form>

            <div class="search-result">
                <div *ngFor="let gameFound of findGameService.searchResult" class="result-list"
                    (click)="goToGameDetail(gameFound)">
                    <div class="visual">
                        <img src={{gameFound.thumbnailUrlFromBgg}} />
                    </div>

                    <div [class]="gameFound.owned ? 'owned content' : 'content'">
                        <div class="heading">{{gameFound.name}}</div>
                        <div class="supporting">
                            <div class="detail" *ngIf="!gameFound.owned">
                                Année: <span class="emphasis">{{gameFound.year}}</span>
                            </div>
                            <div class="detail" *ngIf="!gameFound.owned">
                                Popularité: <span class="emphasis">{{gameFound.popularity}}</span>
                            </div>
                            <div class="detail" *ngIf="gameFound.owned">
                                <div class="emphasis">Jeu déjà dans la liste</div>
                                <mat-icon>star</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-layout>