<mat-form-field appearance="fill">
    <mat-label>{{ title }}</mat-label>
    <mat-chip-grid #chipGridTag aria-label="Ajouter des tags">
        <mat-chip-row *ngFor="let tag of tags" (removed)="removeTag(tag)" [editable]="true"
            (edited)="editTag(tag, $event)">
            {{tag.name}}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        <input placeholder="Ajouter un tag" [matChipInputFor]="chipGridTag"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addTag($event)" />
    </mat-chip-grid>
</mat-form-field>