.game-editor {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

form {
  width: 100%;
  padding: 20px;
}

.mat-mdc-form-field {
  width: 100%;
  padding: 5px;
  opacity: 0.9;
}
