<div class="game-editor">
    <div [hidden]="!loading">
        <div class="spinner searching">
            <mat-spinner [diameter]=36 [strokeWidth]="7"></mat-spinner>
        </div>
    </div>



    <form [formGroup]="gameEditorForm" [hidden]="loading"
        [ngStyle]="{'background': 'url(' + imageUrl + ') no-repeat 0 0 / cover'}" *ngIf="imageUrl != null">

        <mat-grid-list cols="2" rowHeight="80px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Uniquement coopérarif</mat-label>
                    <mat-select formControlName="cooperative">
                        <mat-option value=true>Oui</mat-option>
                        <mat-option value=false>Non</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Joueurs minimum</mat-label>
                    <input matInput formControlName="minPlayer">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Joueurs maximum</mat-label>
                    <input matInput formControlName="maxPlayer">
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Date d'obtention</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Tags de partie</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Ajouter des tags de partie">
                      <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)" [editable]="true" (edited)="edit(fruit, $event)">
                        {{fruit.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      <input placeholder="Ajouter un tag"
                             [matChipInputFor]="chipGrid"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)"/>
                    </mat-chip-grid>
                  </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button>Annuler</button>
    
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="primary">Enregistrer le jeu</button>
            </mat-grid-tile>

        </mat-grid-list>
    </form>


</div>