<mat-dialog-content class="dialog row">
  <form>
    <mat-form-field>
      <mat-label>Pseudo du joueur</mat-label>
      <input matInput type="search">
      <button mat-mini-fab color="primary" matSuffix (click)="createPlayer()">
        <mat-icon>add</mat-icon></button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Couleur du joueur</mat-label>
      <input matInput type="search">
      <button mat-mini-fab color="primary" matSuffix (click)="createPlayer()">
        <mat-icon>add</mat-icon></button>
    </mat-form-field>

    <mat-form-field class="demo-chip-list">
      <mat-chip-grid #chipList>
        <mat-chip
          *ngFor="let fruit of fruits"
          [removable]="removable"
          (removed)="remove(fruit)">
          {{fruit}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="New fruit..."
          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{ fruit }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-dialog-close>Ok</button>
</mat-dialog-actions>