<app-layout [withBackButton]="true" (backButtonAction)="returnToHome()">
    <ng-container role="header">
        <span class="title">Fin de partie</span>
    </ng-container>

    <ng-container role="body">
        @if (match$ | async; as match) {
 
            <div class="score">
                <mat-button-toggle-group name="Saisie des scores" [value]="typeDeSaisie()" (change)="onTypeSaisieChange($event)">
                    <mat-button-toggle disabled="true" value="">Saisie des scores par</mat-button-toggle>
                    <mat-button-toggle value="player">joueur</mat-button-toggle>
                    <mat-button-toggle value="category">categorie</mat-button-toggle>
                </mat-button-toggle-group>

            </div>

            @if (match.game.quantifiableScore) {
                @if(typeDeSaisie() === 'player') {
                    <ul class="player-list">
                        @for (team of match.teams; track team.id) {
                            <div class="result-list">
                                <li class="player" (click)="setTeamScore(team)">
                                    <div class="player-name">
                                        @if (team.score != undefined) {
                                            <div><mat-icon class="check">done</mat-icon></div>
                                        } @else {
                                            <div><mat-icon class="cancel">cancel</mat-icon></div>
                                        }
                                        {{ team.name }}
                                        @if (team.score) {
                                            <span>(score: {{ team.score }})</span>
                                        }
                                    </div>
                                </li>
                            </div>
                        }
                    </ul>
                } @else {
                    <ul class="player-list">
                        @for (tag of match.game.scoreTags; track tag.category; let i = $index) {
                            <div class="result-list">
                                <li class="player" (click)="setCategoryScore(i)" [ngStyle]="{'background-color': tag.color.code, 'color': tag.color.invert}">
                                    <div class="player-name">                                
                                        {{ tag.category }}                                        
                                    </div>
                                </li>
                            </div>
                        }
                    </ul>
                }
            }

            <fieldset [disabled]="saving">
                <mat-form-field appearance="fill" class="winner">
                    <mat-label>Et le vainqueur est...</mat-label>
                    <mat-select (selectionChange)="selectWiningTeam($event.value)" [disabled]="saving" [value]="match.winningTeam">
                        @for (winningTeam of match.teams; track winningTeam.id) {
                            <mat-option [value]="winningTeam">
                                {{winningTeam.name}}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                @if (!saving) {
                    <div class="buttons">
                        <button matButton="filled" (click)="endMatch()">
                            Enregistrer et mettre fin à la partie
                        </button>
                        <button matButton="tonal" (click)="continueMatch()">
                            La partie n'est pas terminée !
                        </button>
                        <button matButton="tonal" (click)="abortMatch()">
                            La partie est abandonnée
                        </button>
                    </div>
                }
            </fieldset>
       
        }

        <loading-spinner [loading]="saving" caption="Enregistrement de la partie..." />

    </ng-container>

</app-layout>