<mat-form-field appearance="fill">
    <mat-label>{{ title }}</mat-label>
    <mat-chip-grid #chipGridTag>
        <mat-chip-row *ngFor="let tag of drawBreakerList" (removed)="removeTag(tag)" [editable]="false" (click)="editTag(tag)">
            {{ tag.reason }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>

        <input [matChipInputFor]="chipGridTag" disabled="true" />

    </mat-chip-grid>
</mat-form-field>

<button mat-mini-fab class="tag-add" (click)="addTag()">
    <mat-icon>add</mat-icon>
</button>