
.mat-mdc-form-field {
  opacity: 0.9;
  width: 100%;
}

.mat-mdc-standard-chip {
  height: 16px !important;
}

.tag-add {
  display: inline;
  float: right;
  vertical-align: top;
  margin-left: -100px;
  margin-top: 8px;
  margin-right: 10px;
}
