<app-layout [withBackButton]="true">
    <ng-container role="header">
        <span class="title">Créer une partie</span>

        <button mat-flat-button color="primary">
            <mat-icon>search</mat-icon>
        </button>
    </ng-container>

    <ng-container role="body">
        <span class="choice">Choisir un jeu</span>

        <loading-spinner [loading]="loading" [caption]="'Chargement de la liste des jeux'"></loading-spinner>

        <div *ngFor="let game of gameList" class="result-list">
            <div class="visual">
                <img src="{{ env.imagesURL + '/' + game.thumbnailId }}">
            </div>
            <div class="content">
                <div class="heading">{{ game.title }}</div>
                <div class="supporting">Dernière partie il y a 1 semaine et 3 jours, victoire de Renaud</div>
            </div>
            <div class="action">

            </div>
        </div>
    </ng-container>

</app-layout>