<app-layout [withBackButton]="true" (backButtonAction)="cancelGameSelection()">
    <ng-container role="header">

    </ng-container>

    <ng-container role="body">
        <h3>{{ gameTitle }}</h3>
        <a routerLink="/">home</a>
        <hr />
        <button (click)="cancelMatchCreation()">Cancel</button>
        <fieldset>
            <div class="row">
                <div class="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Ajouter un joueur</mat-label>
                        <mat-select>
                            <mat-option value="search"><mat-icon>search</mat-icon>Chercher un joueur...</mat-option>
                            <mat-option value="team"><mat-icon>groups</mat-icon>Créer un groupe...</mat-option>
                            <mat-divider></mat-divider>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </fieldset>
    </ng-container>

</app-layout>