<mat-toolbar color="primary">

    <span class="menu-spacer"></span>

    <button mat-flat-button color="primary" [matMenuTriggerFor]="filter">
        <mat-icon>filter_list</mat-icon>
        <span>Filtrer</span>
    </button>

    <mat-menu #filter="matMenu" xPosition="before">
        <button mat-menu-item><span>Tous les joueurs</span></button>
        <button mat-menu-item><span>Avec qui j'ai fait au moins une partie</span></button>
    </mat-menu>

</mat-toolbar>

<loading-spinner [loading]="loading" [caption]="'Récupère la liste des joueurs'"></loading-spinner>

<player-list [players]="players" (clickOnPlayer)="editPlayer($event)"></player-list>

<button mat-fab class="fixedButton" color="primary" aria-label="Ajouter un joueur" (click)="addPlayer()">
    <mat-icon>add</mat-icon>
</button>