#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.mat-toolbar-single-row {
  height: 40px;
  padding: 0;
}

.menu-spacer {
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100px;
  flex: 1 1 auto;
}


