.container {
  min-height: 100vh;
}

.menu-spacer {
  flex: 1 1 auto;
}

.content {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar-single-row {
  height: 40px;
}
