<app-layout [withBackButton]="true" (backButtonAction)="returnToHome()">
    <ng-container role="header">
        <span class="title">Partie en cours</span>
    </ng-container>

    <ng-container role="body">

        <div class="game"
            [ngStyle]="{'background': 'linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.4)), url(' + (matchState | async)?.match!.game.imageUrl + ') no-repeat top / cover'}">
            <div class="heading">{{ (matchState | async)?.match!.game.title }}</div>

            <ul class="game-category">
                <li *ngFor="let matchCategory of (matchState | async)?.match!.choosenTags; let i = index">
                    {{matchCategory.category}}: <span class="value">{{matchCategory.names.join(', ')}}</span>
                </li>
            </ul>

            <div class="elapsedtime">
                Temps écoulé :<br />
                <span class="bold">{{ elapsedTime }}</span>
            </div>

            <div class="player-list">
                <div *ngFor="let team of (matchState | async)?.match!.teams; let i = index" (click)="goToTeamDetail(team)">
                    <div class="row">
                        <div class="column">
                            <div class="player">
                                <div class="avatar">
                                    <img src="{{team.teamPlayers[0].player.gravatarUrl}}">
                                </div>
                                <div class="line">
                                    <div class="pseudo">
                                        {{team.name}}
                                        <div class="color">
                                            <span [hidden]="team.color.name == 'Aucune'">
                                                <span class="dot"
                                                    [ngStyle]="{'background-color': team.color.code, 'color': team.color.invert}"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tags">
                                        <ul *ngFor="let tag of team.choosenTags">
                                            <li>{{tag.category}}: <span class="tag-value">{{tag.names}}</span></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="elapsedtime">
                <button mat-raised-button (click)="endGame()">
                    Cliquer ici pour mettre fin à la partie
                </button>
            </div>

        </div>
    </ng-container>

</app-layout>