.find-game, .find-game-form, .find-game-search-field {
  width: 100%;
}

.searching {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-grid-tile-content {
  justify-content: left !important;
}

.name {
  font-size: larger;
}

.title {
  color:darkgray
}

.text-inside-grid {
  position: absolute;
  left: 5px;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}