@use '@angular/material' as mat;
@use './app/components/layout/layout-theme.scss' as header;
@use './app/components/home/home-theme.scss' as home;

@include mat.core();

$ludoscore-primary: mat.define-palette(mat.$blue-palette);
$ludoscore-accent: mat.define-palette(mat.$teal-palette);
$ludoscore-warn: mat.define-palette(mat.$deep-orange-palette);

$ludoscore-theme: mat.define-light-theme(
  (
    color: (
      primary: $ludoscore-primary,
      accent: $ludoscore-accent,
      warn: $ludoscore-warn,
      is-dark: false,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($ludoscore-theme);
@include home.theme($ludoscore-theme);
@include header.theme($ludoscore-theme);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu-spacer {
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

fieldset {
  border: 0 none;
}