@use '@angular/material' as mat;
@include mat.core();

$ludoscore-primary: mat.define-palette(mat.$blue-palette);
$ludoscore-accent: mat.define-palette(mat.$blue-palette);
$ludoscore-warn: mat.define-palette(mat.$red-palette);

$ludoscore-theme: mat.define-light-theme(
  (
    color: (
      primary: $ludoscore-primary,
      accent: $ludoscore-primary,
      warn: $ludoscore-warn,
      is-dark: false,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$title-background-color: mat.get-color-from-palette($ludoscore-primary, 500);
$title-text-color: mat.get-color-from-palette($ludoscore-primary, 500-contrast);

$item-background-color: mat.get-color-from-palette($ludoscore-primary, 100);
$item-text-color: mat.get-color-from-palette($ludoscore-primary, 100-contrast);
$item-text-accent-color: mat.get-color-from-palette($ludoscore-primary, 500);

@include mat.all-component-themes($ludoscore-theme);

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  background-color: $title-background-color;
  color: $title-text-color;
}

.text {
  background-color: $item-background-color;
  color: $item-text-color;
}

.emphasis {
  color: $item-text-accent-color;
}

.thumbnail {
  background-color: $title-background-color;
}