<div class="player-editor">

    <loading-spinner [loading]="loading" [caption]="'Chargement du joueur'"></loading-spinner>

    <form [formGroup]="playerEditorForm" *ngIf="!loading">


        <fieldset [disabled]="saving">

            <div class="row">
                <div class="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Pseudo</mat-label>
                        <input matInput formControlName="pseudo">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Prénom</mat-label>
                            <input matInput formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="lastName">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Initiales</mat-label>
                            <input matInput formControlName="initials">
                        </mat-form-field>
                    </div>
                    <div class="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Couleur préférée</mat-label>
                            <input matInput formControlName="preferedColor">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Utilisateur lié</mat-label>
                        <input matInput [readonly]="true" [disabled]="true" [value]="user.email">
                        <button mat-mini-fab matSuffix color="primary" (click)="searchUser()"><mat-icon>search</mat-icon></button>
                    </mat-form-field>
                </div>
            </div>

            <div class="row button_row">
                <div class="column">
                    <button mat-raised-button color="primary" (click)="savePlayer()">Enregister</button>
                </div>
            </div>

            <div class="row button_row">
                <div class="column">
                    <button mat-raised-button (click)="cancel()">{{ creating ? 'Abandonner la création' : 'Abandonner la modification'}}</button>
                </div>
            </div>

            <div class="row button_row" *ngIf="!creating">
                <div class="column">
                    <button mat-raised-button color="warn" (click)="deletePalyer()">Supprimer ce joueur</button>
                </div>
            </div>
        </fieldset>


    </form>

</div>