<app-layout [withBackButton]="true" (backButtonAction)="returnToHome()">
    <ng-container role="header">
        <span class="title">Historique des parties</span>
    </ng-container>

    <ng-container role="body">
        <loading-spinner [loading]="loading" caption="Chargement de la liste des parties"></loading-spinner>

        <cdk-virtual-scroll-viewport (itemSize)="pageSize" class="match-history">
            <div *cdkVirtualFor="let match of (ds | async)" class="result-list" (click)="gotToHistoryDetail(match)">
                <div class="visual" *ngIf="match">
                    <img src="{{ match.game.thumbnailUrl }}">
                </div>
                <div class="content" *ngIf="match">
                    <span class="heading">{{ match.game.title }}</span>
                    <!--<span class="supporting" [innerHtml]="line(match)"></span>-->
                    <span class="supporting">{{line(match)}}</span>
                </div>
                <loading-spinner [loading]="match == undefined" caption="Chargement..."></loading-spinner>
            </div>
        </cdk-virtual-scroll-viewport>
    </ng-container>
</app-layout>