@use '@angular/material'as mat;
@import '../../../styles.scss';

.text {
  background-color: mat.get-color-from-palette($ludoscore-accent, 100);
  color: mat.get-color-from-palette($ludoscore-accent, 100-contrast);
}

.title {
  background-color: mat.get-color-from-palette($ludoscore-accent, 300);
  color: mat.get-color-from-palette($ludoscore-accent, 300-contrast);
}

.category {
  color: mat.get-color-from-palette($ludoscore-accent, A700);
}