<div id="find-game">
    <form id="find-game-form">
        <mat-form-field id="find-game-search-field">
            <mat-label>Rechercher un jeu</mat-label>
            <input matInput autofocus #myInput (keydown.enter)="search($event)" (blur)="search($event)">
            <mat-icon matSuffix *ngIf="!searching">search</mat-icon>
            <mat-spinner [diameter]=25 [strokeWidth]="4" *ngIf="searching"></mat-spinner>
        </mat-form-field>
    </form>

    <div id="find-game-result" *ngIf="findGameService.items.length > 0">
        <div class="row" *ngFor="let item of findGameService.items" matRipple>
            <!--(click)="gameDetail(item.id)"-->
            <span class="thumbnail">
                <img src={{item.thumbnail}} />
            </span>

            <span class="text">
                <div class="title">{{item.name}}</div>
                <div class="details">
                    <div class="detail">
                        <span class="category">Année: </span>{{item.year}}
                    </div>
                    <div class="detail">
                        <span class="category">Popularité: </span>{{item.popularity}}
                    </div>
                </div>
            </span>
        </div>

    </div>
</div>