<div id="find-game">
    <form id="find-game-form">
        <mat-form-field id="find-game-search-field">
            <mat-label>Rechercher un jeu</mat-label>
            <input matInput autofocus (keydown.enter)="search($event)" (blur)="search($event)">
            <mat-icon matSuffix *ngIf="!searching">search</mat-icon>
            <mat-spinner [diameter]=25 [strokeWidth]="4" *ngIf="searching"></mat-spinner>
        </mat-form-field>
    </form>

    <div id="find-game-result" *ngIf="findGameService.searchedGames.length > 0">
        <div *ngFor="let item of findGameService.searchedGames" matRipple (click)="gameDetail(item.id)">
            <div [class]="item.owned ? 'row owned' : 'row'">
                <div class="thumbnail">
                    <img src={{item.thumbnail}} />
                </div>

                <div class="text">
                    <div class="title">{{item.name}}</div>
                    <div class="details">
                        <div class="detail">
                            <span class="category">Année: </span>{{item.year}}
                        </div>
                        <div class="detail">
                            <span class="category">Popularité: </span>{{item.popularity}}
                        </div>
                        <div class="detail" *ngIf="item.owned">
                            <span class="category">Jeu déjà dans la liste</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>