.game-editor {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

form {
  width: 100%;
  padding-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.divide {
  width: 100%;
  background-color: grey;
  padding:8px;
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-mdc-form-field {
  opacity: 0.9;
}

.button_row {
  height: 50px;
}

fieldset {
  border:0 none;
}

.date {
  max-width: 200px;
}

.number {
  max-width: 150px;
}

.boolean {
  max-width: 250px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.duration {
  max-width: 250px;
}