<app-layout [withBackButton]="true" (backButtonAction)="returnToGameList()">
    <ng-container role="header">
        <span class="title">Ajouter un jeu</span>
    </ng-container>

    <ng-container role="body">
        <div class="game-editor">
            <div [hidden]="!loading">
                <br />
                <div class="spinner searching">
                    <mat-spinner [diameter]=36 [strokeWidth]="7"></mat-spinner>
                </div>
            </div>

            <form [formGroup]="gameEditorForm"
                [ngStyle]="{'background': 'linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.9)), url(' + backgroundImageUrl + ') no-repeat top / cover'}"
                *ngIf="backgroundImageUrl != null && !loading">

                <fieldset [disabled]="saving">

                    <div class="row">
                        <div class="column">
                            <mat-form-field appearance="fill">
                                <mat-label>Nom du jeu</mat-label>
                                <input matInput formControlName="name">
                            </mat-form-field>
                        </div>

                        <div class="column duration">
                            <mat-form-field appearance="fill">
                                <mat-label>Temps de jeu estimé</mat-label>
                                <mat-select formControlName="estimatedDurationInMinutes">
                                    <mat-option [value]=0>Pas d'estimation</mat-option>
                                    <mat-option [value]=30>moins de 30 minutes</mat-option>
                                    <mat-option [value]=60>30 minutes à 1h</mat-option>
                                    <mat-option [value]=90>1h à 1h30</mat-option>
                                    <mat-option [value]=240>plus de 1h30</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="column date">
                            <mat-form-field appearance="fill">
                                <mat-label>Date d'obtention</mat-label>
                                <input matInput formControlName="ownership" [matDatepicker]="ownership">
                                <mat-datepicker-toggle matIconSuffix [for]="ownership"></mat-datepicker-toggle>
                                <mat-datepicker #ownership></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">

                        <div class="column number">
                            <mat-form-field appearance="fill">
                                <mat-label>Joueurs minimum</mat-label>
                                <input matInput formControlName="minPlayer">
                            </mat-form-field>
                        </div>
                        <div class="column number">
                            <mat-form-field appearance="fill">
                                <mat-label>Joueurs maximum</mat-label>
                                <input matInput formControlName="maxPlayer">
                            </mat-form-field>
                        </div>

                        <div class="column boolean">
                            <mat-slide-toggle>Uniquement coopérarif</mat-slide-toggle>
                        </div>
                    </div>

                    <div class="divide">Gestion des scores</div>

                    <div class="row">

                        <div class="column boolean">
                            <mat-slide-toggle>Match null autorisé</mat-slide-toggle>
                        </div>

                        <div class="column">
                            <tag-editor [tags]="tagsGame" [title]="'Vainqueur'"></tag-editor>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <score-tag-editor [tags]="tagsScore" [title]="'Categorie de score'"></score-tag-editor>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column boolean">
                            <mat-slide-toggle>Score chiffré</mat-slide-toggle>
                        </div>
                        <div class="column boolean">
                            <mat-slide-toggle>Le plus haut score gagne</mat-slide-toggle>
                        </div>
                    </div>
                    
                    <div class="divide">Propriétés du jeu</div>

                    <div class="row">
                        <div class="column">
                            <color-tag-editor [tags]="tagsColor" [title]="'Couleurs'"></color-tag-editor>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <tag-editor [tags]="tagsGame" [title]="'Tags du jeu'"></tag-editor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <tag-editor [tags]="tagsPlayer" [title]="'Tags des joueurs'"></tag-editor>
                        </div>
                    </div>


                    <div class="row button_row">
                        <div class="column">
                            <button mat-flat-button [disabled]="saving" (click)="saveGame()">Enregistrer le
                                jeu</button>
                        </div>
                    </div>

                    <div class="row button_row">
                        <div class="column">
                            <button mat-button [disabled]="saving" (click)="returnToGameList()">Annuler</button>
                        </div>
                    </div>
                </fieldset>
            </form>


        </div>
    </ng-container>
</app-layout>