<div style="background-color: antiquewhite;width:100%;">
    <div style=" width:100%">
        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>


        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>

        <drag-element [leftWipeStyle]='{backgroundColor: "lightcoral", icon: "delete", text: "Supprimer"}' [rightWipeStyle]='{backgroundColor: "lightblue", icon: "stars", text: "Favoris"}'
        (rightSwipeEvent)="action('right')" (leftSwipeEvent)="action('left')" (actionEvent)="action('action!')">
            <div style="width:50px; height:60px; background-color: aqua; float:left;"></div>
            <span style="vertical-align:middle">test</span>
        </drag-element>
    </div>
</div>