<div style="overflow-y: auto">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let movie of movies" cdkDrag [cdkDragConstrainPosition]="computeDragRenderPos" (onclick)="clic()" cdkDragLockAxis="x">
            <div *cdkDragPlaceholder matRipple>
                <div class="example-custom-placeholder"><span class="explanation">Effacer</span><mat-icon
                        class="icon-text">delete_sweep</mat-icon></div>
                <div class="example-custom-placeholder2"><mat-icon class="icon-text">stars</mat-icon><span
                        class="explanation">Ajouter aux favoris</span></div>
            </div>
            {{movie}}
        </div>
    </div>
</div>